# --- Xcode user-specific files ---
xcuserdata/
*.xcuserstate

# --- Supabase credentials ---
Fiture/Config.swift

# --- Project files ---
Fiture/Fiture.xcodeproj/project.pbxproj
Fiture/Fiture/Info.plist
